.page-id-14546 .mkd-content .mkd-full-width-inner {
    padding: 0 !important;
}
.page-id-14546.mkd-header-standard .mkd-menu-area {
    background-color: transparent !important;
}
.ppm-header-top-icons .types-icons span {
    margin-right: 20px;
    color: #ffffff;
}
.ppm-header-top-icons .types-icons img {
    display: block;
    float: left;
    margin-right: 32px;
}
.ppm-header-top-icons .types-icons img:first-child {
    margin-top: 3px;
}
.ppm-header-top-icons .types-icons img:last-child {
    margin-top: 1px;
}
.ppm-header-undertext .types-icons .types-icon {
    display: inline-block;
    margin-right: 32px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}
.ppm-header-undertext .types-icons-text {
    color: #ffffff;
    background-color: #C01D3D;
    font-size: 16px;
    width: max-content;
    padding: 2px 12px;
    font-weight: 500;
    margin-top: 20px;
}
.ppm-header-undertext .types-icon img {
    float: left;
    margin-right: 8px;
}
.ppm-header-undertext .types-icon .icocustom {
    font-size: 24px;
    display: block;
    float: left;
    margin-right: 8px;
}
.page-id-14546 .mkd-interactive-banner-holder {
    padding: 12% 3% 9% 3% !important;
}
.page-id-14546 .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:hover {
    color: #ffffff !important;
    border-color: #ffffff !important;
}
.industries-section .mkd-list-item .icon {
    margin-top: 4px;
}
.industries-section .mkd-iwt-icon-left .s-custom-block-styles {
    margin-top: 32px;
}
.industries-section .mkd-iwt.mkd-iwt-icon-left .mkd-iwt-title-holder,
.industries-section .mkd-iwt:not(.mkd-iwt-left-from-title) .mkd-iwt-title-holder {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
}
.industries-section .mkd-iwt.mkd-iwt-icon-left .mkd-iwt-icon-holder {
    margin-top: 7px;
}
.industries-section .mkd-iwt.mkd-iwt-icon-left.mkd-iwt-icon-tiny .mkd-iwt-content-holder {
    padding-left: 54px;
}
.industries-section .mkd-iwt-title-holder {
    margin-bottom: 0 !important;
    display: block;
    height: 30px;
    margin-left: 16px;
}
.page-id-14546 .mkd-content-slider .mkd-content-slider-button a {
    display: block;
}

.price-tables-section .mkd-price-table-title {
    background: #009ed5;
    text-transform: uppercase;
    padding: 24px 20px;
    display: none;
}
.price-tables-section .mkd-price-table-title h4 {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 500 !important;
    margin: 0;
    padding: 12px 0;
}
.price-tables-section .mkd-price-table .mkd-price-table-inner .mkd-price-table-content ul li {
    border-bottom: 1px solid #f6f6f6;
}
.price-tables-section .mkd-price-table .mkd-price-table-inner .mkd-price-table-content ul {
    border-top: 1px solid #f6f6f6;
}
.price-tables-section .mkd-price-table .mkd-price-table-inner,
.price-tables-section .mkd-price-table .mkd-price-table-inner .mkd-price-table-title {
    border: none;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-price .mkd-price-holder {
    line-height: 42px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-price .mkd-price-holder .mkd-text-before-price{
    color: #425E69;
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-price .mkd-price-holder .mkd-currency{
    color: #425E69;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 400;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-price .mkd-price-holder .mkd-value{
    color: #00A0D5;
    font-size: 36px;
    font-weight: 400;
    margin-left: 12px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-content {
    padding: 0 28px;
    margin-bottom: 0px;
    margin-top: 0;
    height: 128px;
    overflow: hidden;
    line-height: 24px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-price {
    padding: 24px 16px 16px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-button {
    border-top: none;
    padding: 25px 20px;
}
.mkd-price-table .mkd-price-table-icons-text {
    font-weight: 500;
    font-size: 15px;
    color: #062B39;
}
.mkd-price-table .mkd-price-table-inner ul li {
    min-height: 52px;
    padding: 12px 20px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-button .mkd-btn.mkd-btn-solid {
    border: 2px solid #425e69;
    color: #425e69;
    width: 198px;
    font-size: 14px;
    height: 50px;
    font-family: Rubik;
    font-weight: 500;
    background: transparent;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-button .mkd-btn.mkd-btn-solid:hover {
    line-height: 18px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-button {
    padding: 0 20px 25px;
}
.mkd-price-table .mkd-price-table-icons {
    min-height: 32px !important;
    padding: 10px 20px 0px !important;
}
.mkd-price-table .mkd-price-table-icons-text {
    padding: 0 20px !important;
}
.mkd-price-table .mkd-price-table-icons span {
    font-size: 32px;
    color: #009ed5;
    margin: 0 4px;
}
.accordion-section .mkd-accordion-holder.mkd-boxed {
    border: none;
    max-width: 500px;
    margin: 0 auto;
}
.accordion-section .mkd-accordion-holder.mkd-boxed .mkd-accordion-content {
    border: none;
    background: transparent;
    padding: 10px 42px;
}
.accordion-section .mkd-accordion-holder.mkd-boxed .mkd-accordion-title-holder {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
}
.accordion-section .mkd-accordion-holder .mkd-accordion-title-holder .mkd-accordion-title {
    font-weight: 500;
    font-size: 18px;
}
.accordion-section .mkd-accordion-holder .mkd-accordion-content .mkd-accordion-content-inner {
    padding: 0;
}
.accordion-section .mkd-accordion-holder.mkd-boxed .mkd-accordion-title-holder i {
    color: #009ed5;
}
.accordion-section .width500 {
    max-width: 500px;
    margin: 0 auto;
}
.accordion-section .available-developer-sinngle .mkd-list-item {
    color: #425e69 !important;
}
.available-developer-sinngle.accordion-section .mkd-list-item .text {
    line-height: 23px !important;
    font-size: 14px;
}
.available-developer-sinngle.accordion-section .mkd-list-item .text:before {
    margin-top: -2px;
}
.accordion-section .ui-accordion .ui-accordion-header {
    margin: 0;
}
.what-you-see2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    text-align: center;
}
.what-you-see2 .icocustom {
    font-size: 24px;
}
.what-you-see2 .block-icon-text {
    width: 50%;
}
.what-you-see2 .block-icon-text-full {
    width: 100%;
    display: block;
    margin-top: 13px;
    margin-bottom: 10px;
}
.block-icon-text-full .icocustom {
    font-size: 24px;
    color: #009ed5;
}
.what-you-see2 h5 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: #425e69;
    padding: 0 50px;
}
.what-we-offer-title2 {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
}
.what-we-offer-title3 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    color: #425E69;
    margin: 10px 0 10px;
}
.what-you-see2 .block-icon-text-full-extra {
    margin-top: 38px;
    padding: 0 100px;
}
.mkd-larger-active .mkd-price-table {
    margin-top: 1px;
}
.mkd-price-table .mkd-price-table-inner .mkd-price-table-title {
    padding: 4px 8px 4px;
}
.flex-align-section .mkd-full-section-inner {
    display: flex;
    flex-wrap: wrap;
}
.flex-align-section .mkd-full-section-inner .vc_column_container {
    display: flex;
    height: auto;
}
sup {
    bottom: 1ex;
}
.header-text-block {
    width: 64% !important;
}
.header-image-block {
    width: 36% !important;
}
.header-image-block img {
    position: absolute;
    margin-top: 80px;
}
.custom-four-blocks {
    z-index: 99;
}
.discuss-button-ppm {
    margin-top: 40px;
}

.discuss-button-ppm {
    margin-top: 40px;
}

.discuss-button-ppm a {
    width: 198px;
}
.mkd-price-table-button a {
    border: 2px solid #425e69;
    color: #425e69;
    width: 198px;
    font-size: 14px;
    height: 50px;
    font-family: Rubik;
    line-height: 1em;
    font-weight: 500;
    background: transparent;
    padding: 14px 36px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4em;
}
.mkd-price-table-button a:hover {
    background-color: #c01d3d !important;
    color: #ffffff !important;
    border-color: #c01d3d !important;
}
.mkd-content-slider .owl-nav {
    display: none;
}
.mkd-owl-shortcode-slider .owl-controls .owl-nav .owl-prev:hover,
.mkd-owl-shortcode-slider .owl-controls .owl-nav .owl-next:hover {
     -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0); 
}

@media only screen and (max-width: 1200px) {
    .mkd-price-table .mkd-price-table-inner .mkd-price-table-button .mkd-btn.mkd-btn-solid {
        width: 100%;
        padding: 17px 16px;
    }
    .mkd-price-table .mkd-price-table-inner .mkd-price-table-price .mkd-price-holder .mkd-value {
        display: block;
    }
    .header-image-block img {
        margin-top: 160px;
    }
    .header-text-block h1 {
        font-size: 44px;
        line-height: 52px;
    }
}

@media only screen and (max-width: 1024px) {
    .price-tables-section .mkd-price-table-title {
        display: block !important;
    }
    .mkd-price-table .mkd-price-table-inner .mkd-price-table-price .mkd-price-holder .mkd-value {
        display: inline-block;
    }
    .what-you-see2 .block-icon-text-full-extra {
        padding: 0;
    }
    .what-you-see2 h5 {
        padding: 0 8px;
    }
    .header-text-block {
        width: 100% !important;
    }
    .ppm-header-top-icons .types-icons {
        text-align: center;
        display: inline-block;
    }
    .ppm-header-undertext .types-icons-text {
        margin: 20px auto;
    }
    .ppm-header-undertext .types-icons .types-icon {
        margin: 0 16px;
    }
}

@media only screen and (max-width: 768px) {
    .ppm-header-undertext .types-icons-text {
        margin: 12px auto 24px;
    }
}

@media only screen and (max-width: 480px) {
    .ppm-header-undertext .types-icons-text {
        width: 100%;
    }
}
